name: Terraform CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  terraform-ci:
    name: Terraform Validation & Plan
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Run tfsec (Security Scan)
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working-directory: terraform